{% extends 'base.html' %}

{% block title %}
All posts on the site
{% endblock %}

{% block body %}
<div class="container">
    <h1>All posts on the site</h1>

    {% if articles|length > 0 %}
        {% for el in articles %}
        <div class="alert alert-info">
            <h2>{{ el.title }}</h2>
            <p>{{ el.intro }}</p>
            <p><b>Date: {{ el.date.date() }}</b></p>
            <a href="/posts/{{ el.id }}" class="btn btn-warning">More Info</a>
        </div>
        {% endfor %}
    {% else %}
    <p>There is no posts on the site</p>
    {% endif %}
</div>
{% endblock %}